.ProductItem {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(33, 16, 112) 0%, rgb(30, 14, 100) 35%, rgb(36, 20, 105) 100%);
    width: 270px;
    max-width: 300px;
    border-radius: 15px;
    padding: 10px;
}

.ProductItem h3 {
    padding: 0;
    margin: 0;
}
    
.ProductItem img {
    width: 250px;
    height: 280px;
    border-radius: 15px;
}
    
.ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.inactiveItem{
    opacity: 0.5;
}

.outOfStock {
    color: red;
}

.inStock {
    color: green;
}