.links {
  list-style: circle;
}

a {
  text-decoration: none;
}


.toggle:hover,
.item:hover {
  cursor: pointer;
  font-weight: bolder;
}

li>ul {
  display: none;
}


li.open>ul {
  display: block;
}


.innerContainer {
  border: 2px solid black;
  padding: 10px;
  resize: both;
  overflow: auto;
  display: flex;
  position: relative;
  width: 30%;
}