h2{
    text-align: center;
}

.fridge{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: x-large;
    gap: 10px;
    
}

img{
    display: flex;
}

span{
    display: inline-block;
}
