/* Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.shopItem {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 380px;
  width: 250px;

  margin: 5px;
  border-radius: 10px;
}

.shopItem:hover {
  scale: 1.05;
}

.shopItem img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 5px 0;
}

.shopItemDesc {
  margin: 5px;
}

.shopItemRating,
h5 {
  margin: 10px 0;
}

.shopItemPrice {
  margin-top: auto;
  margin: 5px;
}

h4 {
  margin: 0;
}

h2 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productList {
  display: flex;
  flex-wrap: wrap;
}

.inStock {
  color: green;
}

.outOfStock {
  color: gray;
}

.hotPrice {
  color: #f84147;
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
}

.shopItem-disabled {
  opacity: 0.5;
  filter: grayscale(0.4);
}

.addProductForm {
  display: flex;
  flex-direction: column;
  background-color: #c4c1c1;
  padding: 20px;
  width: 35%;
  border-radius: 10px;
}

.addProductForm * {
  margin-top: 15px;
}

.addProductForm input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.addProductForm button {
  padding: 10px;
  background-color: rgb(90, 90, 211);
  box-shadow: none;
  border-radius: 10px;
  color: white;
  border: #0056b3;
}


button:active {
  background-color: #0056b3;
}